body {
    width: 1800px;
}

h5 {
    border-bottom: solid 1px gray;
}

a:link,
a:visited,
a:active {
    margin-bottom: 10px;
    color: white;
}

.container {
    border-left: auto;
    border-right: auto;
    align-items: center;
}

.container-xxl {
    background-color: gray;
}

#h1 {
    color: white;
    padding: 10px;
    border-bottom: solid 1px white;
    margin: 5px;
}

#h5cart {
    border-bottom: dotted 1px gray;
}

p {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    padding: 5px;
    border: 2px;
}


footer {
    background-color: gray;
    padding: 5px;
    margin-bottom: 50px;
}